# Dependencies
node_modules/
# Build output (移除 dist/ 以便 Vercel 部署)
# dist/
# Env
.env
.env.*.local
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor
.vscode/
.idea/
.DS_Store
.env.example
service-account-file.json
